


/* BS Navbar */

.bs-navbar {
  margin: 30px;
}



/* Profile Heading Section */

.profile-heading {
  padding-top: 100px;
  text-align: center;

}

.profile-title {
  margin: 10px;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
  padding-bottom: 1rem;
}



.profile-photo {
  border: solid black 2px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profile-social-icons a {
  margin: 10px;
}

.profile-social-icons img {
  height: 30px;
  width: 30px;
}


/* About-Me Section */
.about-me-container, .skills-container, .portfolio-container {
  margin: 50px 10px 10px 10px;

}

.about-me-container {
  height: 500px;
  background-color: white;

}

.about-me-title {
  font-size: 60px;

}

.about-me-intro {
  font-size:30px;
  text-align: center;
  
}

.about-me-desc {
  text-align: left;
  margin-left: 50px;
  font-size: 20px;

}

/* Skills Section */


.skills-container {
  height: 500px;
  background-color: white;
}

.skills-heading {
  font-size: 60px;
  margin-top: 0px;
}

.skills-section {
  text-align: left;

}

.front-end-skills,
.back-end-skills,
.api-design-skills,
.other-skills {
  display:block;
  float: left;
  margin: 50px;
}

.electronic-skills {
  display:block;
  float: left;
  margin: 50px;
}

/* Portfolio Section */

.portfolio-container {
  background-color: white;
}

.portfolio-heading {
  font-size: 60px;
  margin-top: 0px;
}

.portfolio-player-stats {
  margin-bottom: 100px;
}

.p-stat.container {
  margin: 10px;
}
